        <div class="row mai-signup-wrapper valign-wrapper">
            <div class="col s10 offset-s1 m8 offset-m2 l7 offset-l4 xl5 offset-xl4">
                <div class="row">
                    <div class="col s10 offset-s1">
                        <h1 class="mai-attacher-1 brand-logo"><img class="responsive-img" src="assets/images/mai.png" alt="Mai logo">Mai</h1>
                        <p>Everyone has a story to tell.</p>
                    </div>

                    <div class="col s10 offset-s1">
                        <form id="mai-form-signup">
                            <div class="input-field">
                                <input id="mai-fullname" type="text" class="validate">
                                <label for="mai-fullname" class="blue-grey-text text-darken-2">Full name</label>
                            </div>

                            <div class="input-field">
                                <input id="mai-email" type="text" class="validate">
                                <label for="mai-email" class="blue-grey-text text-darken-2">Email</label>
                            </div>

                            <div class="input-field">
                                <input id="mai-username" type="text" class="validate">
                                <label for="mai-username" class="blue-grey-text text-darken-2">Username</label>
                            </div>

                            <div class="input-field">
                                <input id="mai-password" type="password" class="validate">
                                <label for="mai-password" class="blue-grey-text text-darken-2">Password</label>
                            </div>

                            <div class="mai-separator-2"></div>

                            <button class="btn-large waves-effect waves-light" type="submit" name="button_signup">Sign up</button>
                        </form>

                        <div class="mai-separator-2"></div>
                    </div>

                    <div class="col s10 offset-s1">
                        <a href="javascript:displayLogin();">Have an account? Log in</a>.

                        <div class="mai-separator-3"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mai-login-wrapper valign-wrapper">
            <div class="col s10 offset-s1 m8 offset-m2 l7 offset-l4 xl5 offset-xl4">
                <div class="row">
                    <div class="col s10 offset-s1">
                        <h1 class="mai-attacher-1 brand-logo black-text"><img class="responsive-img" src="assets/images/mai.png" alt="Mai logo">Mai</h1>
                        <p class="black-text">Hear them out.</p>
                    </div>

                    <div class="col s10 offset-s1">
                        <form id="mai-form-login">
                            <div class="input-field">
                                <input id="mai-username" type="text" class="validate">
                                <label for="mai-username" class="blue-grey-text text-darken-2">Username</label>
                            </div>

                            <div class="input-field">
                                <input id="mai-password" type="password" class="validate">
                                <label for="mai-password" class="blue-grey-text text-darken-2">Password</label>
                            </div>

                            <div class="mai-separator-2"></div>

                            <button class="btn-large waves-effect waves-light" type="submit" name="button_login">Log in</button>
                        </form>

                        <div class="mai-separator-2"></div>
                    </div>

                    <div class="col s10 offset-s1">
                        <a href="javascript:displaySignup();">Don't have an account? Sign up</a>.

                        <div class="mai-separator-3"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Video -->
        <video class="cover_video" src="assets/videos/cinema_paradiso.mp4" autoplay loop></video>