        <div id="meetDevsHeading>">
            <h1 class="mai-attacher-1">Mai Team</h1>
        </div>

        <div class="section about-devs">
            <div class="carousel about-carousel">
                <a class="carousel-item about-devs" href="https://www.linkedin.com/in/ijlee2/">
                    Isaac Lee
                    <img class="devPic" src="https://lorempixel.com/300/250/nature/1">
                    <div class="devStory">Best Story: A Korean-Kentuckian that speaks four (human) languages and even more computer languages.</div>
                </a>
                <a class="carousel-item about-devs" href="https://www.linkedin.com/in/jasonjoachim/">
                    Jason Joachim
                    <img src="https://lorempixel.com/300/250/nature/1">
                    <div class="devStory">Best Story: A professional death metal guitarist/butcher, now rocking web applications.</div>
                </a>
                <a class="carousel-item about-devs" href="https://www.linkedin.com/in/david-gutierrez-979a4a148/">
                    David Gutierrez
                    <img src="https://lorempixel.com/300/250/nature/1">
                    <div class="devStory">Best Story: Everyone in his family (except him) are dentists.</div>
                </a>
                <a class="carousel-item about-devs" href="https://www.linkedin.com/in/johnabsher/">
                    John Absher
                    <img src="https://lorempixel.com/300/250/nature/1">
                    <div class="devStory">Best Story: Tech attorney and former Obama organizer, hand-delivered a bottle of Salt Lick BBQ sauce to the King of Norway.</div>
                </a>
            </div>
        </div>