            <div class="mai-separator-3"></div>

            <div class="row">
                <div class="col s10 offset-s1 m8 offset-m2 xl6 offset-xl3">
                    <div class="card" id="card0">
                        <div class="card-image">
                            <img src={{{image url 0}}>
                            <span class="card-title">{{{Card Title 0}}}</span>
                        </div>
                        <div class="card-content">
                            <p>{{{text 0}}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mai-separator-1"></div>

            <div class="row">
                <div class="col s10 offset-s1 m8 offset-m2 xl6 offset-xl3">
                    <div class="card" id="card1">
                        <div class="card-image">
                            <img src="https://i.pinimg.com/736x/b6/d4/8b/b6d48b00d132a940e17dc57ae959a748--being-comfortable-quotes-inspirational-hiking-quotes.jpg">
                            <span class="card-title">{{{Card Title</span>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mai-separator-1"></div>

            <div class="row">
                <div class="col s10 offset-s1 m8 offset-m2 xl6 offset-xl3">
                    <div class="card" id="card2">
                        <div class="card-image">
                            <img src="https://i.pinimg.com/736x/de/f3/51/def35127fc73da5d7ab7d2f1f6fd0da0--quotes-about-changing-yourself-quote-about-being-yourself.jpg">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mai-separator-3"></div>
        </div>