        <form class="dropzone" id="upload-widget" action="/api/upload-photos" method="POST" enctype="multipart/form-data">
            <div class="fallback">
                <input name="file" type="file">
            </div>
        </form>