        <div class="mai-separator-3"></div>
            
        <h1 class="mai-attacher-1">Writers</h1>

        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="col s4 m3 xl2">
                        <a href="#">
                            <img src="../assets/images/user_photo.jpg" class="responsive-img circle" alt="INSERT WRITER NAME HERE">
                            <div class="center-align">Isaac Lee</div>
                        </a>
                    </div>
                    <div class="col s4 m3 xl2">
                        <a href="#">
                            <img src="../assets/images/user_photo.jpg" class="responsive-img circle" alt="INSERT WRITER NAME HERE">
                            <div class="center-align">Isaac Lee</div>
                        </a>
                    </div>
                    <div class="col s4 m3 xl2">
                        <a href="#">
                            <img src="../assets/images/user_photo.jpg" class="responsive-img circle" alt="INSERT WRITER NAME HERE">
                            <div class="center-align">Isaac Lee</div>
                        </a>
                    </div>
                    <div class="col s4 m3 xl2">
                        <a href="#">
                            <img src="../assets/images/user_photo.jpg" class="responsive-img circle" alt="INSERT WRITER NAME HERE">
                            <div class="center-align">Isaac Lee</div>
                        </a>
                    </div>
                    <div class="col s4 m3 xl2">
                        <a href="#">
                            <img src="../assets/images/user_photo.jpg" class="responsive-img circle" alt="INSERT WRITER NAME HERE">
                            <div class="center-align">Isaac Lee</div>
                        </a>
                    </div>
                    <div class="col s4 m3 xl2">
                        <a href="#">
                            <img src="../assets/images/user_photo.jpg" class="responsive-img circle" alt="INSERT WRITER NAME HERE">
                            <div class="center-align">Isaac Lee</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="mai-separator-3"></div>