        <div class="mai-separator-3"></div>
            
        <h1 class="mai-attacher-1">Writers</h1>

        <div class="row">
            {{#each writers}}
            <div class="col s4 m3 xl2">
                <a href="/profile_{{this.id}}">
                    <img src="{{this.profile_url}}" class="responsive-img circle" alt="{{this.fullname}}">
                    <div class="center-align">{{this.fullname}}</div>
                </a>
            </div>
            {{/each}}
        </div>

        <div class="mai-separator-3"></div>